<div class="w-full p-4 bg-teal-50">
  <% if notice.present? %>
    <div class="mb-4">
      <p class="py-2 px-3 bg-yellow-200 border border-yellow-300 text-yellow-700 font-medium rounded-lg shadow-lg transform rotate-1" id="notice"><%= notice %></p>
    </div>
  <% end %>

  <div class="flex justify-between items-center mb-6">
    <h1 class="font-bold text-4xl text-gray-800"><%= @deck.name %>デッキのカード一覧</h1>
  </div>

  <div class="mb-5">
    <%= link_to 'カードを追加', new_deck_card_path(@deck), class: "rounded-lg py-3 px-5 bg-pink-500 hover:bg-pink-600 text-white font-medium transition duration-300 shadow-md" %>
  </div>

  <div id="cards">
    <%= render partial: 'cards/card', collection: @cards, as: :card %>
  </div>
</div>
