<div id="<%= dom_id deck %>" class="flex items-center p-5 border-b border-gray-200 hover:bg-gray-50 transition duration-300 ease-in-out">
  <div class="flex-grow">
    <strong class="block text-lg font-semibold mb-1 text-gray-800"><%= deck.name %></strong>
  </div>

  <% if action_name != "show" %>
    <div class="flex items-center space-x-3">
      <%= link_to "解く！", deck, class: "rounded-lg py-2 px-4 bg-blue-600 hover:bg-blue-700 text-white font-medium" %>
      <%= link_to '編集', edit_deck_path(deck), class: "rounded-lg py-2 px-4 bg-yellow-500 hover:bg-yellow-600 text-white font-medium" %>
    </div>
  <% end %>
</div>
